<div class="container">
  <div class="row" style="text-align: center;margin-top: 30px;">
    <div class="col-8">
      <header>
        <h3 >
          Extrato de Conta Corrente
        </h3>
      </header>
    </div>
    <div class="col-3">
      <button (click)="cadastrarlancamento()" type="button" class="btn btn-success">Cadastrar Lançamento</button>
    </div>
    
  </div>


  


   <div class="row" style="margin-top: 60px;">

        <div class="col-5" *ngIf="lancamentoSelecionado">
        
        <form>
          <div class="mb-3">
            <label class="form-label">Descrição do Lançamento</label>
            <input [disabled]="lancamentoSelecionado.id > 0" type="text" class="form-control" name="descricao" [(ngModel)] = "lancamentoSelecionado!.descricao">
          </div>
          <div class="mb-3">
            <label class="form-label">Data</label>
            <input type="date" name="data" class="form-control" [(ngModel)] = "lancamentoSelecionado!.data">
          </div>
          <div class="mb-3">
            <label class="form-label">Valor</label>
            <input type="number" class="form-control" name="preco" [(ngModel)] ="lancamentoSelecionado!.valor">
          </div>
          <div class="mb-3">
            <label class="form-label">Avulso</label>
            <select  [disabled]="lancamentoSelecionado.id > 0" class="form-control mt-2" name="avulso" [(ngModel)]="lancamentoSelecionado!.avulso">
              <option [ngValue]="'Avulso'">Sim</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Status</label>
            <select [disabled]="lancamentoSelecionado.id > 0" class="form-control mt-2" name="status" [(ngModel)]="lancamentoSelecionado!.status">
              <option [ngValue]="'Válido'">Válido</option>
            </select>
          </div>
          
          <button (click)="salvarLancamento()" type="submit" class="btn btn-primary">Submit</button>
          <button (click)="limparLancamentoSelecionado()" type="submit" class="btn btn-warning">Voltar</button>
        </form>

        </div>


      <div [ngClass]="{'col-7': lancamentoSelecionado, 'col-12': !lancamentoSelecionado}">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Avulso</th>
            <th scope="col">Status</th>
            <th scope="col">Data</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let lancamento of this.lancamento$ | async; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{lancamento.descricao}}</td>
            <td>{{lancamento.valor}}</td>
            <td>{{lancamento.avulso}}</td>
            <td>{{lancamento.status}}</td>
            <td>{{lancamento.data}}</td>
            <td>
                <div class="btn-group">
                  <button (click)="editarLancamento(lancamento)" [disabled]="lancamento.avulso === 'NãoAvulso' || lancamento.status === 'Cancelado'" class="btn btn-primary">Editar</button>
                  <button (click)="cancelarLancamento(lancamento.id)" [disabled]="lancamento.avulso === 'NãoAvulso' || lancamento.status === 'Cancelado'" class="btn btn-danger">Cancelar</button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>




</div>
