<div class="Componentprincipal">
  <div class="row" style="text-align: center;padding-top: 40px;">
    <div class="col-9">
      <header>
        <h2 >
          Extrato de Conta Corrente
        </h2>
      </header>
    </div>
    <div class="col-3">
      <button (click)="cadastrarlancamento()" type="button" class="btn btn-success">Cadastrar Lançamento</button>
    </div>
    
  </div>

  <div class="row" style="margin-top: 70px;">
    <div>
       <img (click)="ativarFiltro()" src="../../assets/Images/filter-removebg-preview.png" alt="" style="width: 35px; cursor: pointer;">
    </div>

    <div *ngIf="filtro" style="margin-top: 10px;">
      <input type="date" name="dateFilter"  [(ngModel)]="dataFiltro" (ngModelChange)=" filtrarData()">
    </div>
  </div>


  <div class="row">
    <div class="col-9"> 
    </div>
    <div class="col-3" style="margin-top: 20px;" >
      <h5>
       Valor total de Lançamentos:<b> R$ {{valortotalLancamentos}}</b>
      </h5>
    </div>
   </div>


   <div class="row" style="margin-top: 40px;">

        <div class="col-5" *ngIf="lancamentoSelecionado">
        
        <form #FormDir="ngForm" style="background-color: white; padding: 30px;">
          <div class="mb-3">
            <label class="form-label">Descrição do Lançamento</label>
            <input required="true" [disabled]="lancamentoSelecionado!.id > 0" type="text" class="form-control" name="descricao" [(ngModel)] = "lancamentoSelecionado!.descricao">
          </div>
          <div *ngIf="FormDir.submitted && FormDir.controls['descricao'].invalid">
            <div class="text-danger">Campo Descrição é obrigatório</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Data</label>
            <input required="true" type="date" name="data" class="form-control" [(ngModel)] = "lancamentoSelecionado!.data">
          </div>
          <div *ngIf="FormDir.submitted && FormDir.controls['data'].invalid ">
            <div class="text-danger">Campo Data é obrigatório</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Valor</label>
            <input required="true" type="number" class="form-control" name="valor" [(ngModel)] ="lancamentoSelecionado!.valor">
          </div>
          <div *ngIf="FormDir.submitted && FormDir.controls['valor'].invalid">
            <div class="text-danger">Campo Valor é obrigatório</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Avulso</label>
            <input disabled="true" type="text" class="form-control" name="avulso" value="Avulso">
          </div>
          <div class="mb-3">
            <label class="form-label">Status</label>
            <input disabled="true"  type="text" class="form-control" name="status" value="Válido">
          </div>
          
          <button (click)="salvarLancamento()" type="submit" class="btn btn-primary">Submit</button>
          <button (click)="limparLancamentoSelecionado()"  class="btn btn-warning">Voltar</button>
        </form>

        </div>


      <div [ngClass]="{'col-7': lancamentoSelecionado, 'col-12': !lancamentoSelecionado}">
      <table class="table" style="padding: 50px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Avulso</th>
            <th scope="col">Status</th>
            <th scope="col">Data</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let lancamento of this.lancamento$ | async; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{lancamento.descricao}}</td>
            <td>{{lancamento.valor}}</td>
            <td>{{lancamento.avulso}}</td>
            <td>{{lancamento.status}}</td>
            <td>{{lancamento.data}}</td>
            <td>
                <div class="btn-group">
                  <button (click)="editarLancamento(lancamento)" [disabled]="lancamento.avulso === 'NãoAvulso' || lancamento.status === 'Cancelado'" class="btn btn-primary">Editar</button>
                  <button (click)="cancelarLancamento(lancamento.id)" [disabled]="lancamento.avulso === 'NãoAvulso' || lancamento.status === 'Cancelado'" class="btn btn-danger">Cancelar</button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>

   




</div>
